.video-container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.video {
    flex: 1 1 45%;
    /* Ajuste o tamanho conforme necessário */
    min-width: 300px;
    box-sizing: border-box;
}

.video h2 {
    color: #4CAF50;
}

.video p {
    font-size: 14px;
    color: #666;
}

.footer {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    margin-top: 40px;
    padding: 2px;
    background-color: #ddd;
}

a,
a:visited,
a:hover,
a:active {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #CCCCCC;
}